.not-found {
    font-size: 2em;
    margin: auto;
    max-width: 500px;
    padding: 2rem 1rem;
    width: 100%;
    text-align: center;
}

.not-found__title {
    margin-top:0
}

.not-found__image {
    height: 300px;
    margin: auto;
    width: 300px;
}