.extended-forecast {
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.extended-forecast__title {
    text-align: center;
    width: 100%;
}

@media (min-width: $tablet-breakpoint) {
    .extended-forecast__container {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        margin-top: 3rem;
    }
    .extended-forecast__title {
        font-size: 3rem;
    }
}