.extended-forecast__day {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid $primary;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    letter-spacing: .1rem;
    margin: auto;
    width: 95%;
}

.extended-forecast__day.add-light {
    border-bottom: 1px solid $primary;
}

.extended-forecast__day__date-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size:  1.2rem;
    width: 17.5%;
    & > * {
        font-weight: 800;
        margin: 0;
    }
}



.extended-forecast__month-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    & > * {
        font-size:  1.6rem;
        font-weight: 400;
        margin: 0 0 0 0;
    }
}

.extended-forecast__month {
    margin-right: .5rem;
}

.extended-forecast__temp-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 600;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: .4rem -2.5rem 0 0;
    width: 17.5%;
    & > * {
         margin: 0 
    }
}

.extended-forecast__condition {
    color: $primary;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin-right: -2.5rem;
    width: 40%;
}

.extended-forecast__image {
    width: 25%;
    position: relative;
}

//Tablet Styles

@media (min-width: $tablet-breakpoint) {
    .extended-forecast__day {
        font-size: 2em;
        border: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: .5rem;
        margin-bottom: 2rem;
        width: 50%;
        min-height: 290px;
        max-width: 250px;
        min-height: 500px;
    }

    .extended-forecast__month, .extended-forecast__month-day {
        font-size: 2rem;
    }

    .extended-forecast__day.add-light {
        border: none;
    }

    .extended-forecast__temp-container {
        margin: auto;
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4;
        width: 100%
    }

    .extended-forecast__day__date-container {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 2rem;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin: auto;
        width: 100%;
    }

    .extended-forecast__month-container {
        margin: auto;
        width: 100%;
    }

    .extended-forecast__condition {
        font-size: 3.5rem;
        margin: 0 auto;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        min-height: 80px;
        width: 100%;
    }

    .extended-forecast__image {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        position: relative;
        top: -4rem;
        margin-bottom: -7rem;
        width: 80%;
        z-index: -10;
    }



    ////Borders

    .extended-forecast__day {
        border-left: 1px solid $primary;
        border-right: 1px solid $primary;
    }

    .extended-forecast__day.add-light:first-child {
        border-left: 1px solid black;
    }
    
    .extended-forecast__day.add-light {
        border-right: 1px solid black;
    }

}