.extended-forecast {
    margin: 0;
    padding-top: 3rem;
    overflow: hidden;
    width: 100%;
}

.extended-forecast__title {
    margin: .5rem;
    text-align: center;
    width: 100%;
}
.is--for {
    color: $primary;
}   

@media (min-width: $tablet-breakpoint) {
    .extended-forecast__container {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-flow: wrap;
            flex-flow: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 6rem;
    }
    

    .extended-forecast__title {
        font-size: 3rem;
    }
}