.search {
    font-family: $main-font;
    display: flex; 
    justify-content: center;
    margin: 3rem auto 2rem;
    width: 100%;
}

.search__input {
    font-family: $main-font;
    background: inherit;
    border: none;
    border-bottom: 1px solid $primary;
    box-shadow: none;
    color: $primary;
    font-size: 1.2rem;
    position: relative;
    transform: translateX(12px);
    width: 160px;
    &::placeholder {
        color: $primary;
        font-size: 1.2rem;
        font-family: $main-font;
    }
}

.search__button {
    font-family: $main-font;
    background: inherit;
    border: none;
    box-shadow: none;
    color: inherit; 
    opacity: 0;
    position: relative;
    transform: translate(-25px, 0);
    transition: .3s transform ease-out, .3s opacity ease-out;
    z-index: -10;
    &.reveal {
        opacity: 1;
        transform: translate(-6px, 0);
        z-index: 1;
    }
}